* {
  color: #111010;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #121213;
}

.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #9ed0f1;
  background-image: url("backgroundimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.description {
  align-items: center;
  text-align: center;
  height: 90vh;
  line-height: 100px;
}

.text {
  color: #0f0404;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 325px;
}
