{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div>
        <form class="display" action="#" method="post" style="margin: auto; max-width: 300px; margin-top: 100px;">
            <input name="search-box" type="text" placeholder="Search City...">
            <button type="submit" value="submit">Search</button>
        </form>
    </div>
    <div class="weather-content">
        <p>
            <div class="city-container">
                <span class="city">{{ holder.city }}, {{ holder.country }} Weather</span>
            </div>
            <br>
            <div class="big-info">
                <div class="img-container">
                    <img src="http://openweathermap.org/img/w/{{ holder.icon }}.png" alt="weather icon" class="icon">
                </div>
                <br>
                <div class="temp-container">
                    <span class="display-temp">{{ holder.temperature }}°C</span>
                    <br><br> 
                </div>
            </div>
            <div class="small-info">
                <p class="display-info">Date: {{ holder.date }}</p>
            </div>
            <div class="extra">
                <p class="extrastuff"> 
                    Sunrise: {{ holder.sunrise }}&emsp;&emsp;&nbsp;&nbsp;Sunset: {{ holder.sunset }} <br/>
                    Min: {{ holder.tempmin }}°C&emsp;&emsp;&ensp;&nbsp;Max: {{ holder.tempmax }}°C <br/>
                    Humidity: {{ holder.humidity }}%&emsp;&emsp;Pressure: {{ holder.pressure }}hPa <br/>
                    Wind: {{ holder.wind }}km/h&emsp;&emsp;&ensp;Visibility: {{ holder.visibility }}km
                </p>
            </div>
            <div class="info-container">
                <p class="display-info">Feels like {{ holder.feels }}°C. {{ holder.description }}.</p>
            </div>
        </p>
    </div>
    <div class="error">
        <h1 class="text">
            {{ error }}
        </h1>
    </div>
</body>
</html>
{% endblock %}