{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div>
        <form class="display" action="#" style="margin: auto; max-width: 300px; margin-top: 100px;">
            <input name="search-box" type="text" placeholder="Search City...">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="weather-content">
        <p>
            <div class="city-container">
                <span class="city">{{ holder.city }}, {{ holder.country }} Weather</span>
            </div>
            <br>
            <div>
                <div class="img-container">
                    <img src="http://openweathermap.org/img/w/{{ holder.icon }}.png" alt="weather icon" class="icon">
                </div>
                <br>
                <div class="temp-container">
                    <span class="display-temp">{{ holder.temperature }}°C</span>
                    <br><br> 
                </div>
                <div class="info-container">
                    <p class="display-info">Feels like {{ holder.feels }}°C. {{ holder.description }}.</p>
                </div>
            </div>
        </p>
    </div>
</body>
</html>
{% endblock %}